<div class="container">
    <div class="row">
        <div class="catalog-header banner-header">
            <div class="banner-header-bg" style="background-image: url({{ '/' }}{{ artista.fields.avatar }}); background-position: center center;">
            </div>
            <div class="catalog-headings">
                <div class="banner-headings clearfix">
                    <figure class="thumbnail thumbnail-bordered-blur thumbnail-rounded">
                        <div class="picture overlay-hidden">
                            <img class="picture-img" alt="" height="160" src="{{ '/' }}{{ artista.fields.avatar }}" width="160"></div>
                    </figure>
                    <h1 class="heading-1 ellipsis">{{ artista.fields.name_artistic }}</h1>
                    <h2 class="heading-4 ellipsis">{{ artista.fields.name }} {{ artista.fields.last_name }}</h2>
                </div>
            </div>
        </div>
        <div class="catalog-content">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#profile">Information</a></li>
                <li><a data-toggle="tab" href="#search_artist/{{ artista.fields.userId }}/pieces">My Pieces</a></li>
            </ul>

            <div class="tab-content">
                <div id="profile" class="tab-pane fade in active">
                    <h3 style="color:#ffff00;">Profile</h3>
                    <p><a href="mailto:{{ artista.fields.email }}"><span class="glyphicon glyphicon-envelope"></span> {{ artista.fields.email }}</a></p>

                    <div class="form-group">
                        <label class="label-profile"> City </label>
                        {{ artista.fields.city }}
                    </div>
                    <div class="form-group">
                        <label class="label-profile"> Country </label>
                        {{ artista.fields.country }}
                    </div>
                    <div class="form-group">
                        <label class="label-profile"> Birthdate </label>
                        {{ artista.fields.birth_date }}
                    </div>
                </div>
                <div id="mypieces" class="tab-pane fade">
                    <h3>My Pieces</h3>
                    <p>Some content in Pieces.</p>
                </div>
            </div>
        </div>
    </div>
</div>